<!--The content below is only a placeholder and can be replaced.-->
<div>
  <span changeText>
    Welcome to {{ title }}!
  </span>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

{{todaydate}}
<app-new-cmp></app-new-cmp>
//date to be displayed to user from the new component class

<form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
    <input type = "text" name = "emailid" placeholder = "emailid" ngModel>
    <br/>
    <input type = "password" name = "passwd" placeholder = "passwd" ngModel>
    <br/>
    <input type = "submit" value = "submit">
 </form>

<div style = "width:100%;">
    <div style = "width:40%;float:left;border:solid 1px black;">
       <h1>Uppercase Pipe</h1>
       <b>{{title | uppercase}}</b><br/>
       
       <h1>Lowercase Pipe</h1>
       <b>{{title | lowercase}}</b>
       
       <h1>Currency Pipe</h1>
       <b>{{6589.23 | currency:"USD"}}</b><br/>
       <b>{{6589.23 | currency:"USD":true}}</b> //Boolean true is used to get the sign of the currency.
       
       <h1>Date pipe</h1>
       <b>{{todaydate | date:'d/M/y'}}</b><br/>
       <b>{{todaydate | date:'shortTime'}}</b>
       
       <h1>Decimal Pipe</h1>
       <b>{{ 454.78787814 | number: '3.4-4' }}</b> // 3 is for main integer, 4 -4 are for integers to be displayed.
    </div>
    
    <div style = "width:40%;float:left;border:solid 1px black;">
       <h1>Json Pipe</h1>
       <b>{{ jsonval | json }}</b>
       <h1>Percent Pipe</h1>
       <b>{{00.54565 | percent}}</b>
       <h1>Slice Pipe</h1>
       <b>{{months | slice:2:6}}</b><br/>
       // here 2 and 6 refers to the start and the end index
       <h1>Custom Pipe</h1>
       <b>Square root of 2.5 is {{2.5 | sqrt | number: '1.4'}}</b><br/>
       <b>Square root of 729 is {{729 | sqrt}}</b>

       <br/><br/><br/>
       <a routerLink = "new-cmp">New component</a>
       <br/><br/>
       <router-outlet></router-outlet>
    </div>
 </div>

<div> <br/>Months :
  <select (change) = "changemonths($event)" name="month">
     <option *ngFor="let i of months">{{i}}</option>
  </select>
</div>

<div>
  <span *ngIf = "isavailable; else condition2">Condition is valid.</span>
  <ng-template #condition1>Condition is valid from template...</ng-template>
  <ng-template #condition2>Condition is invalid from template.</ng-template>
</div>

<div>
  <button (click)="myClickFunction($event)">
    Click Me
  </button>
</div>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

